<div ng-if="!authorized">You are unauthorized....</div>

<div class="panel panel-info">
	<my-header></my-header>

	<div ng-if="admin || user">
		<div>
			<table class="table">
				<tr>
					<td>Team Name : {{team.teamName}}</td>
					<td>Team Country : {{team.country}}</td>
					<td>Team Value : {{team.teamValue}}</td>
					<td>Team Budget : {{team.teamBudget}}</td>
				</tr>
			</table>
		</div>
		<div> Player Details : </div>
		<div>
			<table class="table">
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Country</td>
					<td>Age</td>
					<td>Market Value</td>
				</tr>
				<tr ng-repeat="player in team.players">
					<td>{{player.firstName}}</td>
					<td>{{player.lastname}}</td>
					<td>{{player.country}}</td>
					<td>{{player.age}}</td>
					<td>{{player.marketValue}}</td>
					<td>{{player.playerType}}}</td>
					<td><a href="#/updateUserActivities/{{userActivity.uaId}}">Update</a>
						&nbsp;&nbsp;
						<button type="button" class="btn btn-warning"
							ng-click="remove(userActivity.uaId)">Delete</button></td>
				</tr>
			</table>
		</div>

	</div>
</div>