<div class="panel panel-info">
	<my-header></my-header>

	<div ng-if="admin || user">

		<div>Player Details :</div>
		<div>
			<table class="table">
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Country</td>
					<td>Age</td>
					<td>Market Value</td>
					<td>Player Type</td>
					<td>Player Owner</td>
				</tr>
				<tr ng-repeat="player in players">
					<td>{{player.firstName}}</td>
					<td>{{player.lastName}}</td>
					<td>{{player.country}}</td>
					<td>{{player.age}}</td>
					<td>{{player.marketValue}}</td>
					<td>{{player.playerType}}</td>
					<td>{{player.owner}}</td>
					<td>
						<button type="button" ng-hide="player.presentOnTransferList"
							class="btn btn-success" ng-click="addToTransferList(player.id)">Send
							to Transfer List</button>
						<button type="button" ng-show="player.presentOnTransferList"
							class="btn btn-danger"
							ng-click="removeFromTransferList(player.id)">Remove from
							Transfer List</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>